.shopProfile .navbar{
  border-radius: 0px;
}
.shopProfile h1{
  color: black;
  font-weight: 700;
}
.shopProfile .right_area.col-md-6 h3{
  color: black;
  font-weight: 700;
}
.shopProfile .avatar_area {
  text-align: center;
}
.shopProfile .avatar_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid gray;
  border-radius: 10px;
}

.shopProfile .social_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 0px;
}
.shopProfile .social_list .Icon {
  font-size: 30px !important;
}

.shopProfile .left_area h4 {
  color: red;
  width: 100%;
}
.shopProfile .left_area form {
  display: flex;
  flex-direction: column;
}
hr {
  color: black;
  background-color: black;
  height: 3px;
}

table .infor {
  color: black;
  font-size: 18px;
  text-align: center;
}
.shopProfile .table.profile-detail.table-condensed.table-hover{
  height: 250px;
  border: 1px solid #a6a6a6;
  
}
.shopProfile .form-group label {
  color:black;
}
.shopProfile .form-control{
  color: black;
  border: 1px solid #a6a6a6;
  background-color: white;
}
.shopProfile .form-control:focus{
  border: 2px solid orange;
  box-shadow: 1px 1px 5px 1px orange;
}
.shopProfile .btn.btn-primary{
  background: #f0c14b;
  border-radius: 3px;
  margin-top: 20px;
  color: #111;
  width: 120px;
  font-weight: 500;
  transition: ease-out 0.3s;
  outline: none;
  border: none;
  font-size: 16px;
  box-shadow: inset 0 0 0 0 #ff4655;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  margin-bottom: 20px;
}
.shopProfile .btn.btn-primary:hover{
  box-shadow: inset 120px 0 0 0 #ff4655;
  color: white;
}
.shopProfile .btn.btn-primary:active{
  background-color: #ff4655;
  box-shadow: 0 2px rgb(151, 149, 149);
  transform: translateY(3px);
}
.shopProfile .btn.btn-default{
  background: #f0c14b;
  border-radius: 3px;
  margin-top: 20px;
  color: #111;
  width: 120px;
  font-weight: 500;
  transition: ease-out 0.3s;
  outline: none;
  border: none;
  font-size: 16px;
  box-shadow: inset 0 0 0 0 #ff4655;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  margin-bottom: 20px;
}
.shopProfile .btn.btn-default:hover{
  box-shadow: inset 120px 0 0 0 #ff4655;
  color: white;
}
.shopProfile .btn.btn-default:active{
  background-color: #ff4655;
  box-shadow: 0 2px rgb(151, 149, 149);
  transform: translateY(3px);
}

