.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 150px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal strong{
  color: rgb(214, 7, 7);
}
.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background: #f0c14b;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  color: #111;
  font-weight: 500;
  align-items: center;
  text-align: center;
  transition: ease-out 0.3s;
  outline: none;
  border: none;
  font-size: 20px;
  box-shadow: inset 0 0 0 0 rgb(0, 132, 255);
}
.subtotal > button:hover{
  box-shadow: inset 0 40px 0 0 rgb(0, 132, 255);
  color: white;
}